<StackLayout>
  <FlexboxLayout class="page">
    <StackLayout class="form">
      <Image src="~/assets/images/logo.jpeg"></Image>
      <Label class="header" text="MY TAXI APP"></Label>
      <FlexboxLayout class="fieldsBox">

        <TextField hint="First Name" [isEnabled]="!isLoading" [(ngModel)]="user.firstName" autocorrect="false" autocapitalizationType="none" class="nt-input -rounded -border"></TextField>


        <TextField hint="Last Name" [isEnabled]="!isLoading" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.lastName" class="nt-input -rounded -border"></TextField>

        <TextField hint="Email" [isEnabled]="!isLoading" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" class="nt-input -rounded -border"></TextField>

        <TextField hint="Password" [isEnabled]="!isLoading" autocorrect="false" autocapitalizationType="none" secure="true" [(ngModel)]="user.password" class="nt-input -rounded -border"></TextField>

        <TextField hint="Confirm Password" [isEnabled]="!isLoading" autocorrect="false" autocapitalizationType="none" secure="true" [(ngModel)]="user.confirmPassword" class="nt-input -rounded -border"></TextField>

        <Button text="Sign up" [isEnabled]="!isLoading" class="-primary" (tap)="register()"></Button>

        <Label [nsRouterLink]="['/login']" [isEnabled]="!isLoading" class="text-center">
          <Span text="Already have an account? "></Span>
          <Span text="Back to login." fontWeight="bold" textDecoration="underline"></Span>
        </Label>

      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" rowSpan="3" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</StackLayout>
