.text-gray {
  color: gray;
}

.text-green {
  color: green;
}

.locationIconsBox {
  justify-content: space-around;
  flex-basis: content;
  width: 20%;
}

RadListView {
  font-size: 18px;
}

GridLayout {
  margin: 0 20px;
}

Image {
  background-color: rgb(238, 238, 238);
  border-radius: 10px 10px 0 0;
}

.imageBox {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}

.imgTitleBox {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 10px;
  padding: 0;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
