<ActionBar>
  <StackLayout orientation="horizontal" android:horizontalAlignment="left">
    <Label verticalAlignment="center" text="&#xf007;" color="gray" class="fas" fontSize="18"></Label>
    <Label verticalAlignment="center" [text]="userName" textWrap="true" fontSize="18"></Label>
  </StackLayout>

  <ActionItem (tap)="logout()">
    <StackLayout orientation="horizontal" android:horizontalAlignment="right" ios.position="left">
      <Label verticalAlignment="center" text="Logout" fontSize="18"></Label>
      <Label verticalAlignment="center" text="&#xf08b;" class="fas" fontSize="18"></Label>
    </StackLayout>
  </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
  <StackLayout row="0" class="pageTitle">
    <Label class="p-15 m-0 font-weight-bold" text="Workouts List" fontSize="24"></Label>
    <StackLayout class="hr"></StackLayout>
  </StackLayout>
  <RadListView row="1" [items]="rides">
    <ng-template let-item="item">
      <StackLayout class="-separator">
        <FlexboxLayout flexDirection="column" class="m-y-5">
          <FlexboxLayout flexDirection="column" class="imgTitleBox">
            <FlexboxLayout class="imageBox">
              <Image [src]="item?.imageUrl" stretch="aspectFill"></Image>
            </FlexboxLayout>
            <Label class="title" [text]="item?.name">
            </Label>
          </FlexboxLayout>
          <FlexboxLayout justifyContent="space-between">
            <Label class="m-t-5">
              <Span text="Category: "></Span>
              <Span class="font-weight-bold" [text]="item?.category"></Span>
            </Label>
            <Label class="m-t-5">
              <Span text="Level: "></Span>
              <Span class="font-weight-bold" [text]="item?.level"></Span>
            </Label>
          </FlexboxLayout>
          <Label *ngIf="item?.focusAreas.length" class="m-t-5">
            <Span text="Focus Areas: "></Span>
            <Span class="font-weight-bold" [text]="item?.focusAreas"></Span>
          </Label>
          <Label class="m-t-5">
            <Span text="Rating: ⭐ "></Span>
            <Span class="font-weight-bold" [text]="item?.rating"></Span>
          </Label>
        </FlexboxLayout>
      </StackLayout>
    </ng-template>
  </RadListView>
  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" rowSpan="2" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>
