<StackLayout>
  <FlexboxLayout class="page">
    <StackLayout class="form">
      <Image src="~/assets/images/logo.jpeg"></Image>
      <Label class="header" text="MY TAXI APP"></Label>
      <FlexboxLayout class="fieldsBox">
        <TextField hint="Email" [isEnabled]="!isLoading" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" class="nt-input -rounded -border"></TextField>
        <TextField hint="Password" [isEnabled]="!isLoading" secure="true" [(ngModel)]="user.password" class="nt-input -rounded -border">
        </TextField>

        <Button text="Sign in" [isEnabled]="!isLoading" class="-primary" (tap)="login()"></Button>
        <Label [nsRouterLink]="['/register']" [isEnabled]="!isLoading" class="text-center">
          <Span text="Don't have an account? "></Span>
          <Span text="Register here." fontWeight="bold" textDecoration="underline"></Span>
        </Label>
      </FlexboxLayout>
    </StackLayout>
  </FlexboxLayout>
  <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'" rowSpan="3" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</StackLayout>
