/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "@nativescript/theme/css/core.css";
@import "@nativescript/theme/css/default.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/

.far {
  font-family: "Font Awesome 6 Free", "fa-regular-400";
}

.fas {
  font-family: "Font Awesome 6 Free", "fa-solid-900";
}

.fab {
  font-family: "Font Awesome 6 Free", "fa-brands-400";
}

.form {
  margin: 20;
  vertical-align: middle;

  .header {
    color: #c91818;
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
    text-align: center;
  }

  .fieldsBox {
    background-color: #f0f0f0;
    flex-direction: column;
    padding: 20px 0;
  }

  Image {
    width: 50%;
  }

  TextField {
    color: black;
    placeholder-color: rgba(0, 0, 0, 0.5);
  }
}

.page {
  flex-direction: column;
  vertical-align: middle;
}

:disabled {
  opacity: 0.5;
}
